<h1>Here are all the cocktails</h1>
<% @cocktails.each do |c| %>
  <p>---------------------------------</p>
<p><strong>Cocktail:</strong> <%= c.name %> </p>
  <p><strong>Recipe:</strong></p>
  <% c.doses.each do |d| %>
    <p> -> <%= d.ingredient.name %> ~ <%= d.description %></p>
  <% end %>
<% end %>

<%= link_to 'New cocktail', new_cocktail_path %> 