.navbar-cocktail {
  display: flex;
  background-color: rgb(244, 246, 245);
  align-items:center
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktail h2 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
  color: rgb(50, 50, 50);
}

.navbar-cocktail img {
  width: 50px;
}
